.allPosts {
  margin-top: 8rem;
  .container {
    .row {
      .form-inline {
        display: flex;
        gap: 0.5rem;
        .form-control {
          width: 12rem;
        }
      }
    }
  }
}
